*{
    margin: 0;
    padding: 0;
    font-family: "Product Sans";
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    padding: 20px 25px;
    background-image: url(1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: white;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
}

.one{
    color: yellow;
}

nav .menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

nav .menu a{
    color: white;
    text-decoration: none;
}



#circle{
    position: absolute;
    top: -7px;
    left: 3.5%;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    color: black;
}

.three{
    color: yellow;
    text-shadow: 1px 1px 2px yellow;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    color: yellow;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    color: black;
    text-shadow: 1px 1px 1px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

section .btnone{
    background: black;
    color: white;
    font-weight: 600;
    font-size: 10px;
}

.btnone:hover{
    background: rgb(78, 78, 78);
    color: white;
    font-weight: 600;
    font-size: 10px;
}


section .btntwo{
    background: rgb(78, 78, 78);
    color: white;
    font-weight: 600;
    font-size: 10px;
}

.btntwo:hover{
    background: black;
    color: white;
    font-weight: 600;
    font-size: 10px;
}

.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: white;
}

@keyframes changetext{
    0%{content: "FIFA 2021";}
    20%{content: "WWE 2021";}
    35%{content: "CYBERPUNK 2077";}
    60%{content: "HALO INFINITE";}
    80%{content: "WORLD OF WARCRAFT";}
    100%{content: "AMONG US";}
}
